* {
  font-family: sans-serif;
  margin: 0;
  line-height: 2;
}
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #28a745;
  --background-color: #f8f9fa;
  --text-color: #343a40;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 0.4rem 0.8rem;
}

button:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}
ul{
  list-style-type: none;
}

.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  place-items: center;
}
.top_navbar_list{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.hero{
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-areas: "left center right";
  align-items: center;
  padding: 1vw 5vw;
  gap: 2%;
  text-align: center;
  background-color: rgb(245, 240, 240);
}
.hero_left{
  grid-area: left;
}
.hero_center{
  grid-area: center;
}
.hero_right{
  grid-area:right;
}
.hero_img{
  height: 100%;
  width: 100%;
}