* {
  font-family: sans-serif;
  margin: 0;
  line-height: 2;
}
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #28a745;
  --background-color: #f8f9fa;
  --text-color: #343a40;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--accent-color);
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}

button:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}